@font-face{
    src: url(fonts/Oswald-VariableFont_wght.ttf);
    font-family: Oswald
}
@font-face {
    src: url(fonts/AvenirLTStd-Book.otf);
    font-family: Avenir;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    margin: 0px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    overflow-x: hidden;
    font-family: oswald;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

ul{
    list-style:none;
    margin: 0;
    padding:0;
}

.title{
    font-size: 6.95vw;
    margin: 0px;
}
.subtitle{
    font-size: 2.077vw;
}

.section-container{
    display: grid;
    justify-content: center;
    padding-top:15%;
    padding-bottom: 15%;
}
    .section-header-container{
        display: grid;
        justify-content: center;
    }
    .section-body-container{
        margin-left: 20%;
        margin-right: 20%;
        font-family: Avenir;
        font-size: 20px;
        min-width:60%;        
    }

#landing-slider-div{
    display:inline-block;
    white-space: nowrap;
}
    #landing-container{
        display: grid;
        text-align: center;
        color: #b72500;
        padding-bottom: 100px;
        white-space:nowrap;
    }
        #background-image{
            object-fit:cover;
            width: 100vw;
        }
        #navigation-bar{
            position: fixed;
            display: flex;
            justify-content: space-around;
            width: 180vw;
            top: -10%;
            transition: all ease .85s;
            font-size: 1.875rem;
            background-color: #2d2d2d;
            color: white;
            z-index: 100;
        }
            .button{
                cursor: pointer;
                display: inline-block;
                margin: 20px 30px;
                text-decoration: none;
                color: white;
                -moz-transition: 0.3s;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
            .button:hover{
                transform: scale(1.2);
            }
        #navigation-bar.scroll {
            position:fixed;
            background-color: #2d2d2d;
            margin:0;
        }
        #back-to-top-link-container{
            min-width: 30%;
        }
        #back-to-top-link{
            color:#2d2d2d;
        }
        
        #landing-container-text{
            position: absolute;
            padding-top: 10vh;
            left: -65vw;
            padding-left: 15vw;
            text-align: left;
            min-width: 600px;
            transition: 1s;
        }

#about-me-container{
    align-items: center;
}
    #about-me-nav{
        display: grid;
        z-index: 2;
        grid-row: 1;
        grid-column: 1;
        margin-bottom:55vw;
    }
    .about-me-backgrounds{
        display:grid;
        object-fit: cover;
        width: 100vw;
        grid-row: 1;
        grid-column: 1;
        z-index: 1;
        transition: 1s;
    }
    #about-me-background-1{
    }
    #about-me-background-2{
    }
    #about-me-background-3{
    }
    #about-me-background-4{
    }
    #about-me-text-container{
        display: grid;
        z-index: 2;
        grid-row: 1;
        grid-column: 1;
        background-color: rgba(255, 255, 255, 0.90);
    }
        #about-me-header-container{
            display: grid;
            z-index: 3;
            grid-row: 1;
            grid-column: 1;
        }
        #about-me-body{
            display: grid;
            z-index: 3;
            grid-row: 1;
            grid-column: 1;
            margin-top: 10%;
            margin-bottom: 5%;
            text-align: left;
            width: 60%;
        }










#projects-container{
}
    .github-link{
        text-align: center;
    }
    #projects-header-container{

    }
    #projects-container{
        min-width: 300px;
    }
        #fortune-teller{
            display: inline-block;
            justify-content: center;
            align-content: center;
        }
        #fortune-teller-summary{
            text-align:center;
            -moz-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: .3s;
        }
        #fortune-teller-summary:hover{
            cursor:pointer;
        }
        #fortune-teller-button-wrap{
            text-align:center;
        }
        #fortune-teller-button{
            text-align: center;
            min-width: auto;
        }


        #four-square{
            display: inline-block;
            justify-content: center;
            align-content: center;
        }
        #four-square-summary{
            text-align: center;
        }
        #four-square-summary:hover{
            cursor:pointer;
        }
        #four-square-demo-1{
            width: 100%;
            padding-top:20px;
            padding-bottom:20px;
        }




#skills-container{
    grid-row:3;
}
    #skills-header-container{
    }
    #skill-description-top{
        font-size: 30px;
        text-align: center;
        min-height: 45px;
    }
    #skill-description-bottom{
        font-size: 30px;
        text-align: center;
        min-height: 45px;
    }


    .skill{
        height:50px;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.1s;
    }
    .skill:hover{
        transform:scale(1.5);
    }
    .skill-bar{
        display: flex;
        justify-content:space-evenly;
        width:1200px;
        margin: 5% 0%;
    }








    #contact-container{
        align-self: center;
        text-align:center;
        margin-top: 15%;
        margin-bottom: 15%;
        }
        #contact-header{
            margin-bottom: 5%;
        }
        #contact-paragraph{
            font-size:20px;
        }
    
        .contact-text-div{
            display: inline-block;
            text-align: center;
            width: 20vw;
            margin-right: 0px;
        }
            .contact-image-div{
                display: inline-block;
                text-align: center;
                width:20vw;
            }
            .contact-method{
                display: inline-block;
                height:50px;
            }
        







  
    
    
#projects{
    background-color: pink;
    display: grid;
    margin: 0px 10%;
    padding-top: 3%;
    padding-bottom: 10%;
}
    #projects-exit{
        position: relative;
        top: 300px;
        z-index: 1000;
        width: 5%;
        float: right;
    }

.project-button-container{
    display: block;
    text-align: center;
    height: 300px;
    width: 50%;
    margin: 0px auto;
    transition: .3s;
}
    .project-title{
        font-Size: 40px;
        font-family: oswald;
        font-weight: 600;
    }
    .project-preview{
        margin: auto;
        opacity: 100%;
        max-width: 90%;
    }
    .project-button-info{
        opacity: 0;
        transition: .5s;
        font-size: 16px;
    }
    .project-info{
        display: block;
        font-family: avenir;
        text-align: left;
        margin: auto auto;
        font-size: 20px;
        transition: .5s;
        opacity: 0%;
    }
        .project-video{
            display: none;
            margin-top: 5%;
            text-align:center;
            opacity: 0%;
        }



            
#four-square-button-container{
    grid-row: 1;
    grid-column: 1;
}
    #four-square-preview{

    }
    #four-square-button-info{

    }

    #four-square-info{
            
    }
        .four-square-list{
            margin-left: 5%;
            text-align: left;
        }
        #four-square-video{

        }





#fortune-teller-button-container{
    grid-row: 1;
    grid-column: 2;
}
    #fortune-teller-preview{
        max-width: 50%;
    }
    #fortune-teller-button-info{

    }
    #fortune-teller-program{
        background-color:rgb(223, 239, 253);
        justify-content: center;
        padding: 20px;
        display: none;
    }

#quote-api-button-container{
    grid-row: 1;
    grid-column: 3;
}